body {
  font-family: Georgia, serif;
  
font-size: 100%;
  
line-height: 175%;
  
margin: 0 15% 0;
background: #D0E5C9 ;
background-image: url(plantback2.png);
background-repeat: no-repeat;
background-position: bottom right;
background-attachment: fixed;
}
img { 
padding:1px;
   border:3px solid #73866C;
}
header {
  margin-top: 0;
  
padding: 3em 1em 2em 1em;
  
text-align: center;
background-color: rgba(255,255,255,.35);
}



a {
  text-decoration: none;

}


h1 {
  font: bold 2em Georgia, serif;
  
text-shadow: .1em .1em .1em #AFCAA5;
color: #73866C;
text-decoration: underline;
text-decoration-color: #73866C;
}

h2 {
  font-size: 1em;
  
text-transform: uppercase;
  
letter-spacing: .5em;
  
text-align: center;

color: #73866C;
background-color: rgba(255,255,255,.20);
font: bold 2em Georgia, serif;
text-decoration: underline;
text-decoration-color: #73866C;
text-shadow: .1em .1em .1em #AFCAA5;
}

dt {
  font-weight: bold;

}

strong {
  font-style: italic;

}

ul {
	list-style-type: none;
	
margin: 0;
	
padding: 0;
}

#info p {
  font-style: italic;
}

.price {
  font-family: Georgia, serif;
  
font-style: italic;

}

p.warning, sup {
  font-size: small;

}

.label {
  font-weight: bold;
  
font-variant: small-caps;
  
font-style: normal;

}


h2 + p {
  text-align: center;
  
font-style: italic;

}



a:link {
color: #73866C;
}
a:hover {
color: #F0FFFB;
}
a:active {
background-color: white;
color: #CBFDD3;
}
p, li {
color: #172914;
font-family: 'Indie Flower', cursive;
text-align: center;

background-color: rgba(255,255,255,.35);
}
@media-screen and (min-width: 400px) {
	nav ul li {
		flex: none;
	}
	nav ul img {
		justify-content: center;
	}
}
